.header {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;

  height: 54px;
  padding: 3px 0px;
}

.left-section{
  display: flex;
  align-items: center;
  margin-left: 46px;
}
.itube-logo{
  height: 44px;
  padding-bottom: 10px;
}
.itube-title {
  margin-right: 26px;
  font-size: 28px;
  font-weight: 500;
}

.middle-section{
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input{
  padding: 9px 20px;
  min-width: 500px;
  border: 1px solid rgb(183, 183, 183);
  border-radius: 20px;
}

.right-section{

}