.video-grid{
  margin: 80px 0px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  justify-content: start;
}

.main-video-section{
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 695px;
}

.top-section{
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.main-video-thumbnail{
  height: 390px;
  width: 100%;
  object-fit: cover;
  border-radius: 14px;
}
.main-video-title{
  font-size: 20px;
}

.middle-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middle-left-section{
  display: flex;
  gap: 30px;
  align-items: center;
}
.creator-container{
  display: flex;
  align-items: center;
}
.creator-profile{
  height: 42px;
  width: 42px;
  object-fit: cover;
  border-radius: 25px;
}
.creator-info-container{
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-left: 12px;
}
.creator-name{
  font-weight: bold;
}
.subscriber-count{
  color: rgb(105, 105, 105);
  font-size: 13px;
}

.subscribe-button{
  font-size: 13px;
  font-weight: 600;
  background-color: black;
  border: none;
  color: white;
  padding: 10px 16px;
  border-radius: 25px;
}
.subscribe-button:hover{
  background-color: rgb(57, 57, 57);
}

.middle-right-section{
  display: flex;
  gap: 8px;
}
.like-dislike-buttons{
  display: flex;
}
.like-button,
.dislike-button,
.share-button{
  background-color: rgb(239, 239, 239);
  font-size: 14px;
  font-weight: 600;
  border: none;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 7px;
}
.like-button:hover,
.dislike-button:hover,
.share-button:hover{
  background-color: rgb(220, 220, 220);
}
.like-button{
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;

  border-right: solid;
  border-right-width: 1px;
  border-right-color: rgb(208, 208, 208);
}
.dislike-button{
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.share-button{
  border-radius: 20px;
}
.icons{
  height: 22px;
}


.bottom-section{
  background-color:rgb(239, 239, 239);
  border-radius: 20px;
  border: none;
  padding-top: 15px;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 28px;

  display: flex;
  flex-direction: column;
  gap: 6px;

  text-align: start;
}
.bottom-top-container{
}
.views,
.date-stamp,
.trending-stats,
.description,
.show-more,
.show-less{
  font-size: 14px;
}
.views,
.date-stamp{
  font-weight: bold;
}
.trending-stats{
  color: rgb(100, 100, 100);
  margin-left: 6px;
}
.description{
  white-space: pre-wrap;
}
.description-show-less{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.show-more,
.show-less{
  font-weight: bold;
}
.hide-text{
  display: none;
}