.video-grid{
  margin: 26px 0px;
  background-color: rgb(198, 82, 82);
  display: flex;
  flex-direction: column;
  gap: 26px;
  justify-content: start;
}

.thumbnail{
  height: 420px;
  width: 740px;
  object-fit: cover;
}

.video-stats{
  display: flex;
  flex-direction: row;
}
.video-stat{
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: rgb(234, 156, 156);
  padding: 8px 14px;
}

.icons{
  height: 24px;
}